<!DOCTYPE html>
<html>

<head>
  <title>Instascan &ndash; QRcode</title>

  <script src="./../../src/https/adapter.js"></script>
  <script src="./../../src/https/vue.js"></script>
  <script src="./../../src/https/instascan.js"></script>
  <link rel="stylesheet" href="./../../docs/style.css">

</head>

<body>
  <div id="app">
    <div class="sidebar">
      <section class="cameras">
        <h2>Cameras</h2>
        <ul>
          <li v-if="cameras.length === 0" class="empty">No cameras found</li>
          <li v-for="camera in cameras">
            <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{
              formatName(camera.name) }}</span>
            <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
              <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
            </span>
          </li>
        </ul>

        <h2>Export</h2>
        <ul>
          <li>
            <button onclick="readFile()" class="buttonsize">data.csv</button>
          </li>
        </ul>

      </section>
      <section class="scans">
        <h2>Scans</h2>
        <ul v-if="scans.length === 0">
          <li id="scan_body">No scans yet</li>
        </ul>

        <transition-group name="scans" tag="ul">
          <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
        </transition-group>
      </section>
    </div>

    <div class="preview-container">
      <video id="preview"></video>
    </div>
  </div>

  <script src="./../../docs/app.js"></script>
  <script src="./fileout_Browser.js"></script>

</body>

</html>